<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FitnessApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C613449E32A41F872D51A7FE049E1C7B326DA0C0</string>
				<key>dateExpires</key>
				<string>6/5/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8U63ZP8KK6.com.jasondubon.FitnessApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>8U63ZP8KK6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FitnessApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9de5b286-419b-42ef-badc-5f1c45a0e08c</string>
				<key>dateExpires</key>
				<string>6/5/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.jasondubon.FitnessApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8U63ZP8KK6</string>
				<key>name</key>
				<string>Jason Dubon</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
